.para-de-querer-copiar-e-colar-seu-puto-e-aprende-que-nao-eh-pra-ficar-reportando-qualquer-um-na-porra-dos-servidores {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}